# Today you are a Data Scientist at Tesla! 
## You have been assigned a new project to look at car sales from Quarters 1-2 in California for 2019 to make predictions as to which cars will be sold more than the others in Q3 and Q4, to ensure enough inventory to meet demands!

### If running this notebook in Google Colab, run the following cell first to mount your Google Drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

^^ This mounts your Google Drive at the location */content/drive* on the virtual machine running this notebook.

# Task 1: Load data and wrangle training and test sets

### Import some modules we'll make use of

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Read in the CSV file containing the California sales data for Quarters 1 and 2

Then examine the data's shape and first few rows

In [2]:
# my copy of the Tesla sales data is located in my drive at /Datasets/week_1/
# df_sales = pd.read_csv('/content/drive/My Drive/FourthBrain/Wk1/sales_Q12_2019.csv')
df_sales = pd.read_csv('sales_Q12_2019.csv')

In [3]:
print(df_sales.shape)
df_sales.head()

(5837, 76)

,main_S60_1,main_S60_2,main_type_SP100D,main_type_S60D_1,main_type_S60D_2,main_type_S70,main_type_S70D,main_type_S75,main_type_S75D,main_type_S80,...,sales_24,sales_25,sales_26,sales_27,sales_28,sales_29,sales_30,MSRP,dealer_state,date
0,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,44610,California,2019-04-28
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,41505,California,2019-03-14
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,58890,California,2019-06-12
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,51055,California,2019-03-04
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,70830,California,2019-01-23

In [4]:
print(df_sales.columns)

Index(['main_S60_1', 'main_S60_2', 'main_type_SP100D', 'main_type_S60D_1',
       'main_type_S60D_2', 'main_type_S70', 'main_type_S70D', 'main_type_S75',
       'main_type_S75D', 'main_type_S80', 'main_type_S80D', 'main_type_S85',
       'main_type_S85P', 'main_type_P85D', 'main_type_S90', 'main_type_S90D',
       'main_type_S100D', 'engine_A', 'engine_B', 'engine_C', 'engine_D',
       'engine_E', 'engine_F', 'engine_G', 'engine_H', 'engine_I', 'engine_J',
       'engine_K', 'engine_L', 'engine_M', 'engine_N', 'engine_O', 'engine_P',
       'engine_Q', 'engine_R', 'engine_S', 'engine_T', 'engine_U', 'engine_V',
       'engine_W', 'engine_X', 'engine_Y', 'engine_Z', 'sales_1', 'sales_2',
       'sales_3', 'sales_4', 'sales_5', 'sales_6', 'sales_7', 'sales_8',
       'sales_9', 'sales_10', 'sales_11', 'sales_12', 'sales_13', 'sales_14',
       'sales_15', 'sales_16', 'sales_17', 'sales_18', 'sales_19', 'sales_20',
       'sales_21', 'sales_22', 'sales_23', 'sales_24', 'sales_25', 'sales_26',
       'sales_27', 'sales_28', 'sales_29', 'sales_30', 'MSRP', 'dealer_state',
       'date'],
      dtype='object')

In [5]:
df_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5837 entries, 0 to 5836
Data columns (total 76 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   main_S60_1        5837 non-null   int64
 1   main_S60_2        5837 non-null   int64
 2   main_type_SP100D  5837 non-null   int64
 3   main_type_S60D_1  5837 non-null   int64
 4   main_type_S60D_2  5837 non-null   int64
 5   main_type_S70     5837 non-null   int64
 6   main_type_S70D    5837 non-null   int64
 7   main_type_S75     5837 non-null   int64
 8   main_type_S75D    5837 non-null   int64
 9   main_type_S80     5837 non-null   int64
 10  main_type_S80D    5837 non-null   int64
 11  main_type_S85     5837 non-null   int64
 12  main_type_S85P    5837 non-null   int64
 13  main_type_P85D    5837 non-null   int64
 14  main_type_S90     5837 non-null   int64
 15  main_type_S90D    5837 non-null   int64
 16  main_type_S100D   5837 non-null   int64
 17  engine_A          5837 non-null   int64
 18  engine_B          5837 non-null   int64
 19  engine_C          5837 non-null   int64
 20  engine_D          5837 non-null   int64
 21  engine_E          5837 non-null   int64
 22  engine_F          5837 non-null   int64
 23  engine_G          5837 non-null   int64
 24  engine_H          5837 non-null   int64
 25  engine_I          5837 non-null   int64
 26  engine_J          5837 non-null   int64
 27  engine_K          5837 non-null   int64
 28  engine_L          5837 non-null   int64
 29  engine_M          5837 non-null   int64
 30  engine_N          5837 non-null   int64
 31  engine_O          5837 non-null   int64
 32  engine_P          5837 non-null   int64
 33  engine_Q          5837 non-null   int64
 34  engine_R          5837 non-null   int64
 35  engine_S          5837 non-null   int64
 36  engine_T          5837 non-null   int64
 37  engine_U          5837 non-null   int64
 38  engine_V          5837 non-null   int64
 39  engine_W          5837 non-null   int64
 40  engine_X          5837 non-null   int64
 41  engine_Y          5837 non-null   int64
 42  engine_Z          5837 non-null   int64
 43  sales_1           5837 non-null   int64
 44  sales_2           5837 non-null   int64
 45  sales_3           5837 non-null   int64
 46  sales_4           5837 non-null   int64
 47  sales_5           5837 non-null   int64
 48  sales_6           5837 non-null   int64
 49  sales_7           5837 non-null   int64
 50  sales_8           5837 non-null   int64
 51  sales_9           5837 non-null   int64
 52  sales_10          5837 non-null   int64
 53  sales_11          5837 non-null   int64
 54  sales_12          5837 non-null   int64
 55  sales_13          5837 non-null   int64
 56  sales_14          5837 non-null   int64
 57  sales_15          5837 non-null   int64
 58  sales_16          5837 non-null   int64
 59  sales_17          5837 non-null   int64
 60  sales_18          5837 non-null   int64
 61  sales_19          5837 non-null   int64
 62  sales_20          5837 non-null   int64
 63  sales_21          5837 non-null   int64
 64  sales_22          5837 non-null   int64
 65  sales_23          5837 non-null   int64
 66  sales_24          5837 non-null   int64
 67  sales_25          5837 non-null   int64
 68  sales_26          5837 non-null   int64
 69  sales_27          5837 non-null   int64
 70  sales_28          5837 non-null   int64
 71  sales_29          5837 non-null   int64
 72  sales_30          5837 non-null   int64
 73  MSRP              5837 non-null   int64
 74  dealer_state      5837 non-null   object
 75  date              5837 non-null   object
dtypes: int64(74), object(2)
memory usage: 3.4+ MB

In [6]:
df_sales['dealer_state'].value_counts()

California    5837
Name: dealer_state, dtype: int64

In [11]:
pd.set_option("precision", 4)
df_sales.describe()

,main_S60_1,main_S60_2,main_type_SP100D,main_type_S60D_1,main_type_S60D_2,main_type_S70,main_type_S70D,main_type_S75,main_type_S75D,main_type_S80,...,sales_22,sales_23,sales_24,sales_25,sales_26,sales_27,sales_28,sales_29,sales_30,MSRP
count,5837.0,5837.0,5837.0000,5837.0000,5837.0000,5837.0000,5837.0000,5837.0,5837.0000,5837.0000,...,5837.0,5837.0,5837.0000,5837.0000,5837.0000,5837.0,5837.0000,5837.0,5837.0,5837.0000
mean,0.0,0.0,0.0021,0.0002,0.0009,0.1326,0.0036,0.0,0.0002,0.0053,...,0.0,0.0,0.1324,0.0541,0.0003,0.0,0.0065,0.0,0.0,56717.2895
std,0.0,0.0,0.0453,0.0131,0.0293,0.3392,0.0599,0.0,0.0131,0.0727,...,0.0,0.0,0.3390,0.2263,0.0185,0.0,0.0804,0.0,0.0,12296.9406
min,0.0,0.0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,0.0000,0.0000,...,0.0,0.0,0.0000,0.0000,0.0000,0.0,0.0000,0.0,0.0,0.0000
25%,0.0,0.0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,0.0000,0.0000,...,0.0,0.0,0.0000,0.0000,0.0000,0.0,0.0000,0.0,0.0,47090.0000
50%,0.0,0.0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,0.0000,0.0000,...,0.0,0.0,0.0000,0.0000,0.0000,0.0,0.0000,0.0,0.0,56875.0000
75%,0.0,0.0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,0.0000,0.0000,...,0.0,0.0,0.0000,0.0000,0.0000,0.0,0.0000,0.0,0.0,65100.0000
max,0.0,0.0,1.0000,1.0000,1.0000,1.0000,1.0000,0.0,1.0000,1.0000,...,0.0,0.0,1.0000,1.0000,1.0000,0.0,1.0000,0.0,0.0,91030.0000

### Begin cleaning the data

Eliminate the `'dealer_state'` and `'date'` columns. The former is useless to our model, since we already know that our dataset is restricted to California sales. While we could possibly extract useful information from the `'date'` column (for example, to determine whether more cars are sold on weekends than weekdays), we'll be focusing on car configurations in this exercise.

In [ ]:
df_sales = df_sales.drop(columns=['dealer_state','date'])
print(df_sales.shape)
df_sales.head()

In [ ]:
[col for col in df_sales.columns if df_sales[col].std() == 0]

### Read in the CSV file containing the California sales data for Quarters 3 and 4

The `'dealer_state'` and `'date'` columns have already been eliminated in this dataset, so you don't need to worry about them here. Examine the data's shape and first few rows.

In [ ]:
# my copy of the Tesla sales data is located in my drive at /Datasets/week_1/
df_pred = pd.read_csv('/content/drive/My Drive/Datasets/week_1/sales_Q34_2019.csv')
print(np.shape(df_pred))
print(df_pred.columns)
df_pred.head()

### Set up a regression problem that uses car IDs to predict proportion of # sold. 

You've probably noticed that 73 of the 74 columns in our Q12 and Q34 datasets
are one-hot-encoded representations of the car's `'main_type'`, `'engine'`, and 
`'sales_version'` values. This could be viewed as a unique ID for each type of car. You've probably also noticed that the final column is 
the car's `'MSRP'`, or manufacturer's (Tesla's, in this case) suggested retail price. You could do several things with this data--we're asking you to fit a model of the **proportion of cars sold** based on the unique ID. You'll fit the model on Q12 data and test it on Q34 data. We won't use MSRP.

Each row in the dataset represents the sale of a single car. So, we can count up
the number of rows with a particular ID, and this gives us the number of times that specific type of car was sold in California during that time period. This number divided by the total number sold is the proportion of sales attributed to this particular type of car.

<!-- 


Consolidate data by finding numbers of unique car combinations sold for training and test data sets



However, each row represents the sale of a single car. If we define a unique car type by its combination of `'main_type'`, `'engine'`, and `'sales_version'` values, the number of rows displaying that combination corresponds to the number of times during that half of the year that that distinct type of car was sold in California. Therefore, we can make training and test datasets where each row now corresponds to a unique car type, and the target value is how many times that car type was sold in California during a given half of the year.

## This task requires data wrangling!
## Create functions that read the Q12 (df_sales) and Q34 (df_pred) data sets and create train_X, train_Y, test_X and test_Y, respectively. Use pandas and NumPy as needed. -->

**Create a Python function called ``get_features_and_targets`` that takes in a quarterly sales dataframe and produces matrices $\mathbf{X}$ and $\mathbf{Y}$, where $\mathbf{X}$ has in each row a unique car ID and the corresponding row of $\mathbf{Y}$ has that specific car's proportion of total sales for the quarter**

In [ ]:
def get_features_and_targets(df):
  # YOUR CODE HERE

### Use your function to create $\mathbf{X}$, $\mathbf{Y}$, pairs for both the training data and the test data:

In [ ]:
train_X, train_Y = get_features_and_targets(df_sales)
test_X, test_Y = get_features_and_targets(df_pred)
print(np.shape(train_X))
print(f"Number of unique cars in Q12 = {len(train_Y)}")
print(f"Number of unique cars in Q34 = {len(test_Y)}")

Okay, so let's note that the Q12 and Q34 datasets contain differing numbers of distinct cars. Clearly, some new models were introduced by Q3, but were any discontinued by the end of Q2? Let's find out.

Print the number of cars that were sold in either Q12 or Q34, or both. In mathematical notation, if the set of cars sold in Q12 is $\mathcal{A}$ and the set of cars sold in Q34 is $\mathcal{B}$, we're asking for the size of the *union* of these two sets $|\mathcal{A} \cup \mathcal{B}|$. The notation $|\cdot|$ indicates measurement of the size of a set, the number of distinct items. (Mathematicians usually refer to it as the *cardinality*)

In [ ]:
## YOUR CODE HERE

A handy little fact from set theory is that $|\mathcal{A} \cup \mathcal{B}| = |\mathcal{A}| + |\mathcal{B}| - |\mathcal{A} \cap \mathcal{B}|$, where $\cap$ is the *intersection* of $\mathcal{A}$ and $\mathcal{B}$, things that are in **both** $\mathcal{A}$ and $\mathcal{B}$. Use this fact, and what you've computed above, to print the number of models that were sold in both Q12 and Q34.

In [ ]:
## YOUR CODE HERE

How many cars that were sold in Q12 were discontinued by Q34?

In [ ]:
## YOUR CODE HERE

How many cars were launched in Q34?

In [ ]:
## YOUR CODE HERE

# Task 2: Visualize the training and test targets any way you see fit

This is super open-ended and we're not expecting a particular visualization, just show us what comes comes to your mind!

In [ ]:
## YOUR CODE HERE

# Task 3: Fit a linear model with gradient descent

Set hyperparameters for learning rate and maximum number of iterations through the training data.

In [ ]:
# these are good starting values, you can play around with them though
s_learning_rate = 0.001
s_max_iteration = 1000

### Hypothesis Function

Define your hypothesis function $h(\cdot)$ (which you use to make predictions $\hat{\mathbf{Y}}$ as the matrix product of your feature data $\mathbf{X}$ and parameters $\boldsymbol{\theta}$. $\boldsymbol{\theta}$, which you'll initialize in the training loop (below) is a column vector, one for every feature in the training data, plus one for bias.

In [ ]:
# Define your hypothesis function according to the instructions above
def h(theta, X):
  ## YOUR CODE HERE

Define your loss function as **half** the MSE (mean squared error) between your actual and predicted $\mathbf{Y}$ values. 

Recall that the predicted $\mathbf{Y}$ values, $\hat{\mathbf{Y}}$, are a function of $\boldsymbol{\theta}$ and $\mathbf{X}$.

In [ ]:
# Loss Function
def loss (theta, X, Y) :
  ## YOUR CODE HERE

### Gradient of Hypothesis Function

One can verify through straightforward (if somewhat tedious) multivariable calculus that the gradient of the loss function $J$ with respect to the parameters $\theta$ is 

$$ \frac{\partial J}{\partial \boldsymbol{\theta}} = - \frac{1}{m} X^T \cdot (Y - \hat{Y})$$

Where $m$ is the number of data samples, the number of rows in $\mathbf{X}$ and $\mathbf{Y}$.

Note that the $\mathbf{X}$ here is the one that has been augmented with a bias column. 

Set up a function ``gradient`` to compute this gradient.

In [ ]:
def gradient (theta, X, Y) :
  ## YOUR CODE HERE

### Gradient Descent

Complete the function ``stochastic_gradient_descent`` below, to train your linear regression model with gradient descent, i.e. calculate $\frac{\partial J}{\partial \theta}$ and update $\theta$. Recall that the general gradient descent update formula is $\theta := \theta - \alpha \frac{\partial J}{\partial \theta}$, with $\alpha$ the stepsize. We've provided the skeleton of a stochastic gradient descent function, but you're welcome to experiment with batch and/or minibatch gradient descent. Also recall that the aforementioned gradient descent methods differ in how frequently they calculate $\frac{\partial J}{\partial \theta}$ and update $\theta$. Notice in the first step we initialize $\boldsymbol{\theta}$ to all zeros and we temporarily prepend a column of $1$'s to the features, which corresponds to the bias parameter.

In [ ]:
def stochastic_gradient_descent(X, Y, learning_rate, max_iteration, print_interval):
  theta = np.zeros((X.shape[1]+1, 1))
  X_with_ones = np.hstack([np.ones([X.shape[0], 1]), X])  # prepend a column of 1s. This is just to make the math more compact, your original data is still X[:, 1:]
  # Initialize the cost as an array of zeros, one for each iteration through the dataset
  cost = np.zeros(max_iteration)
  # Loop over the dataset
  for i in range(max_iteration):
    # Loop over each row in the dataset
    for j in range(X.shape[0]):
      # Compute the gradient from the current row in X and the associated Y value
      # Make sure that both X and Y are represented as 2D row vectors
      ## YOUR CODE HERE
      # Update theta
      ## YOUR CODE HERE
    # Update the cost array for the current iteration
    cost[i] = loss(theta, X_with_ones, Y)
    if i % print_interval == 0 :
      print('iteration : ', i, ' loss : ', loss(theta, X_with_ones, Y)) 
  return theta, cost

In [ ]:
s_theta, s_cost = stochastic_gradient_descent(train_X, train_Y, s_learning_rate, s_max_iteration, 100)

In [ ]:
plt.stem(np.squeeze(s_theta))

### Generate Predictions from Test Data

In [ ]:
# remember that s_theta should be applied to features that have a prepended column of 1's
pred_Y_from_GD = h(s_theta, np.hstack([np.ones([test_X.shape[0], 1]), test_X]))
# Set any negative predictions to 0
pred_Y_from_GD[pred_Y_from_GD<0] = 0

### Visualize the predicted and actual test labels

In [ ]:
from sklearn.metrics import mean_squared_error as MSE
from sklearn.metrics import r2_score

In [ ]:
# compare predictions pred_Y_from_GD to test_Y. Report MSE and R^2 score
## YOUR CODE HERE

# Task 4: Normal Equations

Since our training dataset isn't very large, let's generate predictions using the normal equations: 

$$\boldsymbol{\theta} = (X^T \cdot X)^{-1} \cdot X^T \cdot Y$$ 
$$\hat{Y} = X \cdot \boldsymbol{\theta}$$

and see how they compare to the predictions which we obtained from gradient descent. Remember we still have a bias term, so $\boldsymbol{\theta}$ is of size 74x1 (73 for the unique ID features, 1 for the bias)

In [ ]:
def normal_equations_solution(X, Y):
  X_with_ones = np.hstack([np.ones([train_X.shape[0], 1]), train_X])
  ## YOUR CODE HERE

In [ ]:
# Compute the predicted Y values
n_theta = normal_equations_solution(train_X, train_Y)
pred_Y_from_N = np.matmul(np.hstack([np.ones([test_X.shape[0], 1]), test_X]), n_theta)

# Set any negative predictions to 0
pred_Y_from_N[np.where(pred_Y_from_N<0)]=0

In [ ]:
# Plot predictions compared to test_Y, and also print MSE and R^2 score
## YOUR CODE HERE

### Regularized Normal Equations

In [ ]:
print('Recall that our training features array train_X has')
print(f'm = {train_X.shape[0]} rows and n = {train_X.shape[1]} columns')

`train_X` is thus wider than it is tall, which suggests that the regularized normal equations might perform better in generating label predictions. In this case, we modify the first of the normal equations given above to 

$$\boldsymbol{\theta} = (X^T \cdot X + \lambda m I)^{-1} \cdot X^T \cdot Y$$.

Here, $\lambda$ is the regularization parameter and $m$ is the number of rows in $X$.

### Repeat the previous parts of Task IV, but this time incorporate regularization

In [ ]:
def regularized_normal_equations_solution(X, Y, regularization_param):
  X_with_ones = np.hstack([np.ones([train_X.shape[0], 1]), train_X])
  ## YOUR CODE HERE

In [ ]:
test_these_lambdas = np.linspace(0.01, 10, 10)

for i in test_these_lambdas:
  theta_temp = regularized_normal_equations_solution(train_X, train_Y, i)
  pred_Y_from_N_reg = np.matmul(np.hstack([np.ones([test_X.shape[0], 1]), test_X]), theta_temp)
  pred_Y_from_N_reg[np.where(pred_Y_from_N_reg<0)]=0
  print('For regularization parameter', i)
  print("RMSE, R2 =", MSE(test_Y, pred_Y_from_N_reg), r2_score(test_Y, pred_Y_from_N_reg))
  print('-----')

# Task V: Non-linear Regression Models (GLM, DT)

### Generalized Linear Models

`sm` (our alias for `statsmodels.api`) contains a `GLM` class. Use it to instantiate a model. The relevant parameters are training labels, training features, and `ffamily`, i.e. the family of distributions to which we assume our prediction errors belong. Some potentially good choices for `ffamily` include Gaussian, Gamma, and Logit.

In [ ]:
# GLM 
import statsmodels.api as sm
# Instantiate the GLM
train_X_glm = sm.add_constant(train_X)
glm_gamma = sm.GLM(train_Y, train_X_glm, family=sm.families.Gaussian())
# Train the GLM
glm_results = glm_gamma.fit()
print(glm_results.summary())

### Generate predictions from the test data

In [ ]:
# generate predictions, called pred_Y_from_GLM. (don't forget to add a constant column to test_X)
## YOUR CODE HERE
# Set any negative predictions to 0
pred_Y_from_GLM[pred_Y_from_GLM<0]=0

In [ ]:
# Plot predictions compared to test_Y, and also print MSE and R^2 score
## YOUR CODE HERE

### Random Forest Regression

Use the `RandomForestRegressor` from `sklearn.ensemble` to generate predictions. The relevant parameters are the `max_depth` of the trees and the `random_state`, to ensure reproducibility.

In [ ]:
from sklearn.ensemble import RandomForestRegressor
# Instantiate the random forest regression model
regr = RandomForestRegressor(max_depth=5, random_state=0)
# Train the model
## YOUR CODE HERE
# Generate predictions from the test data
## YOUR CODE HERE

In [ ]:
# Plot predictions compared to test_Y, and also print MSE and R^2 score
## YOUR CODE HERE


## Populate the table below with the results of your experiments above. Which models performed best?

## Results

|Method      |RMSE             |R2               |
|------------|-----------------|-----------------|
| Gradient Descent | xx | xx|
| Normal Equations | xx | xx |
| Regularized Normal Equations | xx | xx |
| Generalized Linear Model (GLM) | xx | xx |
| Random Forests | xx | xx |